@model ServiConnect.Models.LoginModel
@using ServiConnect.Enums
@{
	ViewData["Title"] = "Criar Login";
}

<div class="text-center">
	<h1 class="display-4">Cadastrar Login</h1>
</div>

<form asp-controller="LoginNormal" asp-action="Criar" method="post">

    <div class="form-group">
		<label for="name" class="form-label">Name</label>
		<input type="text" asp-for="Name" class="form-control" placeholder="Digite o Nome do Login" />
		@Html.ValidationMessageFor(x => x.Name)
	</div>

	<div class="form-group">
		<label for="Password" class="form-label">Password</label>
		<input type="password" asp-for="Password" class="form-control" placeholder="Digite a Senha do Login" />
		@Html.ValidationMessageFor(x => x.Password)
	</div>

	<div class="form-group">
		<label for="email" class="form-label">E-mail</label>
		<input type="text" asp-for="Email" class="form-control" placeholder="Digite o Email do login" />
		@Html.ValidationMessageFor(x => x.Email)
	</div>

	<div class="form-group">
		<label for="Perfl" class="form-label">Perfil</label>
		<select asp-for="Perfil" class="form-control">
			<option value="0">Selecione</option>
			<option value="@PerfilEnum.Prestador">Prestador</option>
			<option value="@PerfilEnum.Cliente">Cliente</option>
		</select>
	</div>


	<button type="submit" class="btn btn-primary btn btn-block">Adicionar </button>
	<a class="btn btn-secondary btn-block" asp-action="Index" asp-controller="LoginNormal" role="button">Voltar</a>

</form>