@using ServiConnect.Repositorio;
@model List<LoginModel>
@{
	ViewData["Title"] = "Listagem de Login";
}


<div class="text-center">

	<div class="d d-grid gap-2 d-md-flex justify-content-md-start">
		<a class="btn btn-primary" asp-controller="LoginNormal" asp-action="Criar" role="button">Adicionar Login</a>
	</div>

	<br />

	@if (TempData["MensagemSucesso"] != null)
	{
		<div class="alert alert-sucess" role="alert">
			<button type="button" class="btn btn-danger btn-sm close-alert" data-bs-dismiss="alert" aria-label="Close">X</button>
			@TempData["MensagemSucesso"]
		</div>
	}

	@if (TempData["MensagemErro"] != null)
	{
		<div class="alert alert-danger" role="alert">
			<button type="button" class="btn btn-danger btn-sm close-alert" data-bs-dismiss="alert" aria-label="Close">X</button>
			@TempData["Mensagemerro"]
		</div>
	}

	<br />  

	<h1 class="display-4">Listagem de Login</h1>

	<table id="table-login" class="display" style="width:100%">
		<thead>
			<tr>
				<th scope="col">#</th>
				<th scope="col">Name</th>
				<th scope="col">Email</th>
				<th scope="col">Perfil</th>
			</tr>
		</thead>
		<tbody>
			@if (Model != null && Model.Any())
			{
				foreach (var login in Model)
				{
					<tr>
						<th scope="row">@login.Id</th>
						<td>@login.Name</td>
						<td>@login.Email</td>
						<td>@login.Perfil</td>
						<td>
							<div class="btn-group" role="group">
								<a role="button" asp-action="editar" asp-controller="LoginNormal" asp-route-id="@login.Id" class="btn btn-primary">Editar</a>
								<a role="button" asp-action="apagarconfirmacao" asp-controller="LoginNormal" asp-route-id="@login.Id" class="btn btn-danger">Apagar</a>
							</div>
						</td>
					</tr>
				}
			}
			else
			{
				<tr class="odd"><td valign="top" colspan="5">Nenhum contato encontrado</td></tr>
			}
		</tbody>
	</table>

</div>